# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\lhlovegy\Desktop\11牛客网项目\所有素材和源码\第一章素材和源码\源码\community-1.7\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
